$siteBgColor: #f7faff;

$loginHColor: #6b7ef4;

$bgRightLogin: #f2f3f5;

$labelColor: blue;
$errorColor: #d32f2f;

$shadowDefault: -1px 0px 4px 1px rgba(58, 86, 122, 0.2);
$picShadowDefault: -1px 0px 4px 1px rgba(58, 86, 122, 0.6);
$largeSahdow: -1px 10px 14px 1px rgba(0, 0, 0, 0.2);

$shadowIcon: 1px 1px 4px 1px rgba(58, 86, 122, 0.3);

$shadowBtn: 0px 2px 8px 1px rgba(0, 0, 0, 0.4);

$blueAppColor: #0e3aaa;
$blueAppLightColor: #5d7fd5;
$semiBlackColor: rgb(83, 83, 83);

$disabledColor: #3d5bf6;

$blueBtnDown: #6399e2;

$anotherProject: #d3e1ff;

$blueBtnsActiveColor: #1b54e3;

$yellowSelected: #fffcd2;

$sebasSelected: #5e8593;

$searchHosesBg: #4f7887;

$greyBgStart: rgb(219 219 219);
$greyBtnMenuItem: rgb(202, 202, 202);

$blueColor: #3d5bf6;

$logoAndromedaColor: #c9961a;

$orangeNir: #ffe098;
$blueSelectBg: #6d84ff;
$greenNir: #56bfb5;
$greenNirBar: #1bbe77;
$redNir: #e16b6b;

$pinkBtnCheckBox: #f50057;

$greenTableBg: #deebe9;
$sofShavuaTableBg: #b6c1bf;

$activeYellowTable: #fbfbc6;
$yellowTableBg: rgb(255 255 222);

$lightGreySelected: #f7f7f7;
$lightGreySelected2: #d3d2d2;

$greenExtendedMenu: #7dad7a;

$selectedBlueColor: #c4e8fd;

$greyLine: #dbdbdb;
$greenTidar: #177fb3;

$greenTidarDark: #517d77;

$orangeTidar: #fab652;

$tableBtn: #92ada9;

$greyBtn: rgb(160, 160, 160);

$hoverBg: #faf6fc;

$borderInputsColor: rgba(0, 0, 0, 0.23);

/* $btnGreyBg: #e6e6e6; */

$fontColor: black;

$bgMenu: #fffffff5;

$pink: #fe6894;

$redDanger: #d32f2f;
