@import "../globalStyles/index.scss";

.formLogin {
    display: flex;
    justify-content: center;
    background: url("../../img/logoBg.png") top center no-repeat white;
    background-size: 100%;
    min-height: 100vh;

    .grid {
        margin-top: 36px;
        background: transparent;
        box-shadow: none;
    }

    .logoLogin {
        margin: 0 0 26px 0;
        width: 150px;
    }
}

@media (max-width: 768px) {
    .formLogin {
        height: 100vh;
    }
    .grid {
        margin-top: 26px;
    }
}
